<!DOCTYPE html>
<html>

<head>
    <title>Home</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>title</title>
    <link rel="stylesheet" href="style.css" type="text/css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/font-awesome.min.css">
    <style>
        /* Make the image fully responsive */
        
        .carousel-inner img {
            width: 100%;
            height: 100%;
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="index.html">More Recipes</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="index.html">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="viewrecipes.html">View Recipes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="favorite.html">Favorite Recipes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="profile.html">Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="login.html">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="signup.html">Sign Up</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container">
        <div id="demo" class="carousel slide" data-ride="carousel">
            <ul class="carousel-indicators">
                <li data-target="#demo" data-slide-to="0" class="active"></li>
                <li data-target="#demo" data-slide-to="1"></li>
                <li data-target="#demo" data-slide-to="2"></li>
            </ul>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="img/jollof.jpg" alt="Jollof Rice" width="1100" height="500">
                    <div class="carousel-caption">
                        <h3>Jollof Rice</h3>
                        <p>The epitome of rice!</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="img/Spring-rolls.jpg" alt="Spring Rolls" width="1100" height="500">
                    <div class="carousel-caption">
                        <h3>Spring Rolls</h3>
                        <p>Enjoy every bite!</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="img/garlic-prawns.jpg" alt="Garlic Prawns" width="1100" height="500">
                    <div class="carousel-caption">
                        <h3>Garlic Prawns</h3>
                        <p>simply delicious!</p>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#demo" data-slide="prev">
                <span class="carousel-control-prev-icon"></span>
            </a>
            <a class="carousel-control-next" href="#demo" data-slide="next">
                <span class="carousel-control-next-icon"></span>
            </a>
        </div>
    </div>
    <footer style="padding-top:30px;">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <p class="text-center">Copyright Jason&copy; 2017. All rights reserved.</p>
                </div>
            </div>
        </div>
    </footer>

    <script type="text/javascript " src="js/jquery.min.js "></script>
    <script type="text/javascript " src="js/popper.min.js "></script>
    <script type="text/javascript " src="js/bootstrap.min.js "></script>
    <script type="text/javascript " src="js/myscript.js "></script>
</body>

</html>