<!DOCTYPE html>
<html>

<head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="css/materialize.min.css" media="screen,projection" />
    <link type="text/css" rel="stylesheet" href="css/styles.css" media="screen,projection" />
    <link type="text/css" rel="stylesheet" href="css/font-awesome.min.css" media="screen,projection" />
    <title>More Recipes</title>
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>

    <nav>
        <div class="nav-wrapper">
            <a href="index.html" class="brand-logo">More Recipes</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="favorite.html">Favorites</a></li>
                <li><a href="profile.html">Profile</a></li>
                <li><a href="add_recipes.html">Add Recipes</a></li>s
                <li><a href="view_recipes.html">View Recipes</a></li>
                <li><a href="signup.html">Sign Up</a></li>
                <li><a href="login.html">Login</a></li>
            </ul>
        </div>
    </nav>
    <main>
        <div class="row">
            <div class="col s12 m6">
                <div class="card">
                    <div class="card-image">
                        <img src="img/corn.jpg">

                    </div>
                    <div class="card-content">
                        <h5>Corn</h5>
                        <p>The taste of warm, buttery corn on the cob is hard to beat on a summer day, and it makes a great side dish to spicy chicken.</p>
                    </div>
                    <div class="card-action">

                    </div>
                </div>
            </div>
            <div class="col s12 m6">
                <div class="card">
                    <div class="card-image">
                    </div>
                    <div class="card-content">
                        <h4>Ingredients</h4>
                        <p>100g butter, softened</p>
                        <p>1 garlic clove, crushed</p>
                        <p>1 tbsp chopped parsley</p>
                        <p>4 corn on the cob</p>
                        <br>
                        <h4>Method</h4>
                        <p>Heat oven to 200C/180C fan/gas 6. Mash butter, garlic and parsley with seasoning.</p>
                        <p>Cut 4 pieces of foil large enough to hold a cob, place a cob on each piece, top each one with butter, then seal edges to form parcels. Bake, or cook on the barbecue, for 30-35 mins or until tender.</p>

                    </div>
                    <div class="card-action">

                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer class="page-footer">
        <div class="container">

        </div>
        <div class="footer-copyright">
            <div class="container">
                © 2017
                <a class="grey-text text-lighten-4 right" href="https://github.com/"><i class="fa fa-github" aria-hidden="true">Jason</i></a>
            </div>
        </div>
    </footer>



    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="js/materialize.min.js"></script>
</body>

</html>