<!DOCTYPE html>
<html>

<head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="css/materialize.min.css" media="screen,projection" />
    <link type="text/css" rel="stylesheet" href="css/styles.css" media="screen,projection" />
    <link type="text/css" rel="stylesheet" href="css/font-awesome.min.css" media="screen,projection" />
    <title>More Recipes</title>
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>

    <nav>
        <div class="nav-wrapper">
            <a href="index.html" class="brand-logo">More Recipes</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="favorite.html">Favorites</a></li>
                <li><a href="profile.html">Profile</a></li>
                <li><a href="add_recipes.html">Add Recipes</a></li>
                <li><a href="view_recipes.html">View Recipes</a></li>
                <li><a href="signup.html">Sign Up</a></li>
                <li><a href="login.html">Login</a></li>
            </ul>
        </div>
    </nav>
    <main>
        <div class="row">
            <div class="col s12 m6">
                <div class="card">
                    <div class="card-image">
                        <img src="img/hamburger.jpg">

                    </div>
                    <div class="card-content">
                        <h5>Hamburger</h5>
                        <p>A hamburger is a sandwich consisting of one or more cooked patties of ground meat, usually beef, placed inside a sliced bread roll or bun.</p>

                    </div>
                    <div class="card-action">

                    </div>
                </div>
            </div>
            <div class="col s12 m6">
                <div class="card">
                    <div class="card-image">
                    </div>
                    <div class="card-content">
                        <h4>Ingredients</h4>
                        <p>2 pounds ground beef</p>
                        <p>1 (1.25 ounce) envelope onion soup mix</p>
                        <p>1/2 cup mayonnaise</p>
                        <p>2 cups shredded Cheddar cheese</p>
                        <p>24 dinner rolls, split</p>
                        <p>1/2 cup sliced pickles (optional)</p>
                        <br>
                        <h4>Method</h4>
                        <p>Preheat an oven to 350 degrees F (175 degrees C). Cover a baking sheet with aluminum foil and spray with cooking spray.</p>
                        <p>Mix together the ground beef and onion soup mix in a large skillet; cook and stir over medium-high heat until the beef is crumbly, evenly browned, and no longer pink. Drain and discard any excess grease. Remove from heat. Stir
                            the mayonnaise and Cheddar cheese into the ground beef mixture.</p>
                        <p>Lay the bottoms of the dinner rolls on the prepared baking sheet. Spread the cheese and beef mixture on the bottom half of each roll. Replace the tops. Cover with another sheet of aluminum foil sprayed with cooking spray.</p>
                        <p>Bake in the preheated oven until the burgers are heated through and cheese melts, about 30 minutes. Serve with sliced pickles.</p>
                    </div>
                    <div class="card-action">
                        <i class="fa fa-pencil" aria-hidden="true"></i>
                        <i class="fa fa-trash" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer class="page-footer">
        <div class="container">

        </div>
        <div class="footer-copyright">
            <div class="container">
                © 2017
                <a class="grey-text text-lighten-4 right" href="https://github.com/"><i class="fa fa-github" aria-hidden="true">Jason</i></a>
            </div>
        </div>
    </footer>




    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="js/materialize.min.js"></script>
</body>

</html>