<!DOCTYPE html>
<html>

<head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="css/materialize.min.css" media="screen,projection" />
    <link type="text/css" rel="stylesheet" href="css/styles.css" media="screen,projection" />
    <link type="text/css" rel="stylesheet" href="css/font-awesome.min.css" media="screen,projection" />
    <title>More Recipes</title>
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>
    <nav>
        <div class="nav-wrapper">
            <a href="index.html" class="brand-logo">More Recipes</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="favorite.html">Favorites</a></li>
                <li><a href="profile.html">Profile</a></li>
                <li><a href="add_recipes.html">Add Recipes</a></li>
                <li><a href="view_recipes.html">View Recipes</a></li>
                <li><a href="signup.html">Sign Up</a></li>
                <li><a href="login.html">Login</a></li>
            </ul>
        </div>
    </nav>
    <main>
        <div class="card">
            <div class="card-header">
                <img src="img/me.jpg" />
            </div>
            <div class="card-content">
                <h3>Jason</h3>
                <h4>Status: Bootcamper </h4>
                <p>Username: @jaeson_1</p>
                <p>Email: appletedd@gmail.com</p>

            </div>
            <div class="card-footer">
                <ul>
                    <li>
                        <a href="#"><i class="fa fa-github"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </main>
    <br>
    <footer class="page-footer">
        <div class="container">

        </div>
        <div class="footer-copyright">
            <div class="container">
                © 2017
                <a class="grey-text text-lighten-4 right" href="https://github.com/"><i class="fa fa-github" aria-hidden="true">Jason</i></a>
            </div>
        </div>
    </footer>
    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="js/materialize.min.js"></script>
    <script type="text/javascript" src="js/index.js"></script>
</body>

</html>