<!DOCTYPE html>
<html>

<head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="css/materialize.min.css" media="screen,projection" />
    <link type="text/css" rel="stylesheet" href="css/styles.css" media="screen,projection" />
    <link type="text/css" rel="stylesheet" href="css/font-awesome.min.css" media="screen,projection" />
    <title>More Recipes</title>
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>

    <nav>
        <div class="nav-wrapper">
            <a href="index.html" class="brand-logo">More Recipes</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="favorite.html">Favorites</a></li>
                <li><a href="profile.html">Profile</a></li>
                <li><a href="add_recipes.html">Add Recipes</a></li>
                <li><a href="view_recipes.html">View Recipes</a></li>
                <li><a href="signup.html">Sign Up</a></li>
                <li><a href="login.html">Login</a></li>
            </ul>
        </div>
    </nav>
    <main>
        <div class="row">
            <div class="col s12 m6">
                <div class="card">
                    <div class="card-image">
                        <img src="img/nigerian rice and beans.jpg">

                    </div>
                    <div class="card-content">
                        <h5>Rice and beans</h5>
                        <p>If you do not like beans when it is cooked alone like in Beans Porridge, then you need to try the rice and beans recipe.</p>
                    </div>
                    <div class="card-action">

                    </div>
                </div>
            </div>
            <div class="col s12 m6">
                <div class="card">
                    <div class="card-image">
                    </div>
                    <div class="card-content">
                        <h4>Ingredients</h4>
                        <p>2 cigar cups (500g) long grain parboiled rice</p>
                        <p>1 cigar cup (250g) brown/black-eyed beans</p>
                        <p>500 mls Tomato Stew</p>
                        <p>Chicken or Fish</p>
                        <p>Pepper and salt (to taste)</p>
                        <p>2 medium onions</p>
                        <p>2 stock cubes</p>
                        <p>1 teaspoon thyme</p>
                        <br>
                        <h4>Method</h4>
                        <p>Cook the beans till tender and set aside.</p>
                        <p>Pour the chicken/fish stock into a pot big enough to accommodate the rice and beans, bearing in mind that the rice will rise some more.</p>
                        <p>Add the tomato stew, the parboiled rice and the cooked beans. Check that the water level is just less than the level of the rice and beans.</p>
                        <p>Add pepper and salt to taste.</p>
                        <p>Stir, cover the pot and cook at low to medium heat till the water is dry.</p>
                    </div>
                    <div class="card-action">

                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer class="page-footer">
        <div class="container">

        </div>
        <div class="footer-copyright">
            <div class="container">
                © 2017
                <a class="grey-text text-lighten-4 right" href="https://github.com/"><i class="fa fa-github" aria-hidden="true">Jason</i></a>
            </div>
        </div>
    </footer>



    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="js/materialize.min.js"></script>
</body>

</html>